
<%= link_to("Back To List",students_path,:class => 'back-link')%>
<div class="subject delete">
	<h1>Delete Subject</h1>
	<%= form_for(@student,:url => student_path(@student),:method => 'delete')do |f|%>
	<p>Are you sure u want to delete this student</p>
	<p class="reference-name"><%= @student.student_name%></p>

	<div class="form-buttons">
		<%=f.submit("Delete Student")%>
	</div>
	<%end%>
</div> 