<%= link_to("Back To List", students_path,:class => 'back-link')%>
<div class="student new">
	<h1>Update Student</h1>
	<%= form_for(@student,:url => student_path(@student),:method => 'patch')do |f|%>
	<table summary="Student for fields">
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:student_name)%></td>
		</tr>
		<tr>
			<th>Rollno</th>
			<td><%= f.text_field(:rollno)%></td>
		</tr>
	</table>
	<div class="form-buttons">
		<%= f.submit("Update Student")%>
	</div>
	<%end%>
</div>
