<div class="Student index">
	<h1>Students</h1>
	<%= link_to("Add new Student", 'students/new', :class => 'action new' )%>

	<table class="listing" summary="Student list">
		<tr class="header">
			<th>Student</th>
			<th>rollno</th>
			<th>Subject</th>
			<th>Action</th>
		</tr>
		<%@students.each do |student|%>
		<tr>
			<td><%= student.student_name %></td>
			<td><%= student.rollno %></td>
			<td class="center"><%=student.subjects.size%></td>
			<td class="action">
				<%= link_to("Show", student_path(student.id),:class =>'action show')%>
				<%= link_to("Edit", edit_student_path(student.id),:class =>'action edit')%>
				<%= link_to("Delete",delete_student_path(student.id),:class =>'action delete')%>
			</td>
		</tr>
		<%end%>
	</table>
</div>


