<%= link_to("Back To List",students_path,:class => 'back-link')%>
<div class="student show">
	<h1>Show Student</h1>
	<table summary="Student details view">
		<tr>
			<th>Name</th>
			<td><%= @student.student_name %></td>
		</tr>
		<tr>
			<th>Rollno</th>
			<td><%= @student.rollno %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @student.created_at %></td>
		</tr>
			<th>Updated</th>
			<td><%= @student.updated_at %></td>
		</tr>
	</table>
</div>